:root {
  --principal: #ffff;
  --secudario: #4fdced;

  --fuentePrincipal: "Relewa", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 12rem;
  scroll-behavior: smooth;
  scrollbar-color: var(--principal) black;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--principal);
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  list-style: none;
  margin: 0;
  height: 100%;
  padding-top: 12rem;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.2;
}

p {
  line-height: 1.2;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/** utilizades*/

/*header*/
.header_principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--principal);
  padding: 1rem 3rem;
  border-bottom: #b1a8a8 solid;
  margin-top: 0;
}

.contenido_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contenido_logo {
  width: 50%;
  margin-left: 6rem;
}

#contenido_logo-img {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}
#contenido_logo_marca {
  margin: 0;
}

.navegacion {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}
.navegacion a {
  color: #121212;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.navegacion a:hover {
  background-color: #333333;
  color: #ffffff;
}

main {
  margin-top: 3rem;
  height: 50rem;
  background-image: url(/public/imagenes/camisetas/varias_camisa_3.jpg),
    url(/public/imagenes/camisetas/Imagen\ de\ WhatsApp\ 2025-05-25\ a\ las\ 19.27.48_0dd30b08.jpg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: 50% 100%, 50% 100%;
}
.tamaño_contendor {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.contenedor {
  background-color: #f3f3f3;
  padding: 2rem 0;
}

.section__productos {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
}

.productos__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 120rem;
}
